:root {
  --primary-color: #946e7e;
  --secondary-color: #ffffff;
  --accent-color: #6D508A;
  --background-color: #4b3761;
}


.parent {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  background-color:var(--secondary-color);
  height: 240px;
}
.child {
  border: solid 1px black;
  padding: 1rem;
  margin: 1rem;
  color: black;

}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: rgb(255, 255, 255);
  background-color: var(--background-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: var(--background-color);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: var(--accent-color);
}

nav a[aria-current='page'] {
  color: #000;
  background-color: var(--secondary-color);
}

main {
  padding: 1rem;
}

h1:hover {
  font-weight: bold;
  font-size: 1.5rem;
}
nav a:hover{
  color: var(--secondary-color)
}